.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color) ;
    // position: relative;
    transition: width 0.3s ;
    border-top: 2px solid #626d7a;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}