.app_dark_theme {
    --bg-color:#161719;
    --inverted-bg-color:  #F4F5FA;

    --primary-color: #626d7a;
    --secondary-color: #626d7a;

    --inverted-primary-color: #626d7a;
    --inverted-secondary-color: #626d7a;
}