.app.dark {
    --bg-color:#1D1D1D;
    --inverted-bg-color:  #fff;

    --primary-color: #101010;
    --secondary-color: #101010;

    --inverted-primary-color: #ffffff;
    --inverted-secondary-color: #ffffff;
}