.app_light_theme{
  --bg-color: #F4F5FA;
  --inverted-bg-color: #161719;

  --primary-color: #626d7a;
  --secondary-color: #626d7a;

  --inverted-primary-color: #626d7a;
  --inverted-secondary-color:  #626d7a;
}

// #B98141
