.app.normal {
  --bg-color: #fff;
  --inverted-bg-color: #101010;

  --primary-color: #ffffff;
  --secondary-color: #101010;

  --inverted-primary-color: #ffffff;
  --inverted-secondary-color:  #101010;
}

// #B98141
